.divide{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
ul,li{
    list-style-type: none;
    margin: none;
    padding: none;

}
.unis {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    border: 3px solid black;
  }
  .d{
    border: 3px solid black;
    padding: 25px;
    align-items: center;
  }
  .para{
    font-size: 30px;
    font-weight: bold;

  }
  .d{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }